@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua São José, 90, 2º andar<br />
    Rio de Janeiro, RJ<br />
    <abbr title="Phone">P:</abbr>
    (21) 2122-8800
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:suporte@infnet.edu.br">suporte@infnet.edu.br</a><br />
    <strong>Moodle:</strong> <a href="mailto:moodle@infnet.edu.br">moodle@infnet.edu.br</a>
</address>
